* {
    background-color: #282828;
    font-family: monospace;
    color: #ebdbb2
}
body { margin: 100px 100px 100px 100px; }
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 25px
}
.button, a {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #83a598;
    text-decoration: underline;
    cursor: pointer;
}
table td { padding-right: 10px }
.left { text-align: right }
